* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 414px) {
    html {
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 428px) {
    html {
        font-size: 25px !important;
    }
}

body {
    background: #fff;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    height: 2rem;
    line-height: 2rem;
    padding-left: 10%;
    border-bottom: 1px solid #f1f1f1;
}

.header__ul {
    list-style-type: none;
}

.header__li {
    margin-right: 1rem;
    display: inline-block;
}

.header__li:hover {
    cursor: pointer;
    color: #F38089;
    border-bottom: 2px solid #F38089;
}

.active {
    color: #F38089;
    border-bottom: 2px solid #F38089;
}

.text-left {
    text-align: left;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.title {
    font-weight: 700;
    color: #7da755;
    line-height: 7.5rem;
    font-size: 4.25rem;
    letter-spacing: .05px;
    margin-bottom: 4px;
}

.f-as {
    font-family: Amatic SC, cursive;
}

.sub-title {
    font-weight: 100;
    color: #5f6060;
    letter-spacing: 2px;
    font-style: italic;
}

.content__introduction {
    height: auto;
    padding-bottom: 2.5rem;
    padding-top: 15%;
}

.content__hobbies--change {
    cursor: pointer;
    display: inline-block;
    margin-left: .5rem;
    color: #cf4a5c;
}

.content__hobbies--change:hover {
    color: #69606b;
}

.content__hobbies--title {
    line-height: 2rem;
}

.content__blogs--article {
    margin: 0 auto;
}

.article-box {
    padding-top: .5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f0f0f0;
}

.article-box a {
    text-decoration: none;
    color: black;
}

.content__blogs--title {
    line-height: 2rem;
}

.article-box__title {
    font-weight: 700;
    color: #333;
}

.content__contact--title {
    line-height: 2rem;
}

.content__contact--form {
    padding-top: .5rem;
    margin: 0 auto;
    text-align: left;
}

.name {
    height: 1.75rem;
    width: 50%;
    border-radius: 3px;
}

.form-group {
    line-height: 2rem;
}

.message {
    height: 7.5rem;
    width: 100%;
    border-radius: 3px;
    margin: .75rem 0;
}

.submit-button {
    text-align: center;
}

.form-button {
    width: 4rem;
    height: 1.5rem;
    margin: 0 auto;
    line-height: 1.5rem;
    color: #7da755;
    border: 1px solid #7da755;
    border-radius: 3px;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.content__home {
    width: 100% !important;
    padding-top: 20%;
    color: white;
    background: #000002;
}

.content__box {
    width: 80%;
    margin: 0 auto;
    /*overflow: hidden;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.content__home--title {
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 3.25rem;
}

.content__home--subtitle {
    font-style: italic;
}

.content__home--subtitle span {
    font-weight: bold;
}

.content__hobbies--imgs img {
    width: 18rem;
    height: 12rem;
}